.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

/* .gist-meta {
  text-align: center !important;
}

.gist .markdown-body h* {
  font-weight: 400 !important;
  color: red;
} */

.gist .gist-file {
  border: none !important;
}

.gist .markdown-body h1,
h2,
h3,
h4 {
  font-weight: normal !important;
}

@media (max-width: 480px) {
  .p-5 {
    padding: 20px 0 !important;
  }
  /* .gist .gist-file {
    border: none !important;
  } */
}
